body {
    box-sizing: border-box;
    margin: 0px;
}
.nav-bar {
    display: inline-block;
    position: relative;
    width: 1920px;
    height: 100px;
    background-color: #041a2f;
    box-sizing: content-box;
    border: none;
    text-align: center;
}

#nav-title {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 70px;
    left: 0px;
    top: 0px;
    background-color:rgb(5, 7, 27);

    text-align: center;
    padding: 15px;
    color: white;
    font-weight: 900;
    font-size: 50px;
    cursor: pointer;
}

#nav-home {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: auto;
    height: 70px;
    padding-top: 30px;
    font-size: 25px;
    margin-right: 20px;
}
#nav-home:hover {
    font-weight: 500;
    color: black;
    background-color: #E2E2E2;
}

#nav-place {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: auto;
    height: 70px;
    padding-top: 30px;
    font-size: 25px;
    margin-right: 20px;
}
#nav-place:hover {
    font-weight: 500;
    color: black;
    background-color: #E2E2E2;
}

#nav-community {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: auto;
    height: 70px;
    padding-top: 30px;
    font-size: 25px;
    margin-right: 20px;
}
#nav-community:hover {
    font-weight: 500;
    color: black;
    background-color: #E2E2E2;
}

#nav-profile {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: auto;
    height: 70px;
    padding-top: 30px;
    font-size: 25px;
    margin-right: 20px;
}
#nav-profile:hover {
    font-weight: 500;
    color: black;
    background-color: #E2E2E2;
}

#nav-help {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: auto;
    height: 70px;
    padding-top: 30px;
    font-size: 25px;
}
#nav-help:hover {
    font-weight: 500;
    color: black;
    background-color: #E2E2E2;
}

.nav-user {
    cursor: pointer;
    float: right;  
    position: relative; 
    display: inline;
    width: auto;
    height: 100px;
    margin-right: 10px;
    margin-top: -100px;
    background-color:rgb(5, 7, 27);
}

.non-click {
    color: #E2E2E2;
    background-color: #041a2f;
    font-weight: 500;
}
.click {
    color: orange;
    font-weight: 500;
}

.nav-user-img {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 25px;
    background-color: white;
    border-radius: 10px;
}
.nav-user-name {
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 35px;
    margin-right: 20px;
}

.nav-categori {
    cursor: pointer;
    position: fixed;
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
    border: solid black 5px;
    border-radius: 50px 50px 50px 50px;
}
.categori-img {
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

nav{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

.container {
    position: fixed;
    z-index: 3;
    height: 100vh;
}

.hamburger-menu {
    position: fixed;
    top: 120px;
    left: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.panel {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border-right: 4px solid black;
}

.panel.active {
    left: 0;
}

.hamburger-menu.active .line:first-child {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .line:last-child {
    transform: translateY(-8px) rotate(-45deg);
}

/*
Main-------------------------------------------------------------------------
*/

.slider {
    position: relative;
    height: 500px;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    z-index: 2; /* 수정된 부분 */
  }
  
  .slider button:hover {
    background-color: #333;
    color: #fff;
  }
  
  .prev {
    z-index: 1; /* 수정된 부분 */
    right: 0px;
  }
  
  .next {
    z-index: 2;
    left: 0px; /* 수정된 부분 */
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .buttons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 25px;
  }

.centered {
    margin-left: 25%;
    width: 50%;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    text-transform: capitalize;
    text-align: center;
}

.deck {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  font-family: 'Gentium Basic', serif;
  font-size: 3em;
}

.title::after {
  display: block;
  margin: .75em auto;
  width: 200px;
  content: "";
  border-bottom: 6px solid hsl(160, 100%, 70%);
}

.deck::after {
  display: block;
  margin-top: 2em;
  text-align: center;
  content: "§";
}

/*
footer-------------------------------------------------------------------
*/

.foot-info {
    display: block;
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background-color: gray;
}

.developer {
    color: white;
    text-transform: capitalize;
    text-align: center;
    vertical-align: center;
    font-weight: 500;
}