<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/facility.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin facility</title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <!--<img src="images/logo.png" alt="">-->
        </div>

        <span class="logo_name">Admin</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/adminmainpage">
                <i class="uil uil-estate"></i>
                <span class="link-name">대시보드</span>
            </a></li>
            <li><a href="/admin/facility">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">시설현황</span>
            </a></li>
            <li><a href="/admin/user/rental">
                <i class="uil uil-chart"></i>
                <span class="link-name">사용자 통계</span>
            </a></li>
            <li><a href="/admin/userinfo">
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name">회원관리</span>
            </a></li>
            <li><a href="/question/questionmain">
                <i class="uil uil-comments"></i>
                <span class="link-name">커뮤니티 관리</span>
            </a></li>
        </ul>

        <ul class="logout-mode">
            <li><a href="/logout">
                <i class="uil uil-signout"></i>
                <span class="link-name">로그아웃</span>
            </a></li>
        </ul>
    </div>
</nav>
<div>
    <form th:action="@{/admin/facility}">
        <section class="dashboard">
            <div class="top">
                <!--
                    <div class="search-box">
                    <i class="uil uil-search"></i>
                    <input type="text" placeholder="Search here...">
                </div>
                -->
                <div class="add">
                    <a href="/admin/registration">
                        <i class="uil uil-plus"></i>
                    </a>
                </div>
                <div class="status-box" th:each="place: ${places}">
                    <h1 class="facility-name">시설이름 : <span th:text="${place.placename}"></span></h1>
                    <h1 class="facility-location">시설위치 : <span th:text="${place.placelocation}"></span></h1>
                    <button><a th:href="@{/admin/facility/delete/{placeid}(placeid=${place.placeid})}">시설삭제</a></button>
                </div>
            </div>
        </section>
    </form>
</div>
</body>
</html>