<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>시설 대여 프로그램</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Home.css">
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <!--<img src="images/logo.png" alt="">-->
        </div>

        <span class="logo_name">RES</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/home">
                <i class="uil uil-estate"></i>
                <span class="link-name">홈</span>
            </a></li>
            <li><a href="/user">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">예약</span>
            </a></li>
            <li><a href="/reservation_info">
                <i class="uil uil-chart"></i>
                <span class="link-name">예약현황</span>
            </a></li>
            <li><a href="/update">
                <i class="uil uil-chat-bubble-user"></i>
                <span class="link-name">프로필</span>
            </a></li>
            <li><a href="/question/questionmain">
                <i class="uil uil-comments"></i>
                <span class="link-name">게시판</span>
            </a></li>
        </ul>

        <ul class="logout-mode">
            <li><a href="/logout">
                <i class="uil uil-signout"></i>
                <span class="link-name">로그아웃</span>
            </a></li>
        </ul>
    </div>
</nav>
<main>
    <div class="slider">
        <img class="slide" src="img/slide1.jpg">
        <img class="slide" src="img/slide2.jpg">
        <img class="slide" src="img/slide3.jpg">
        <img class="slide" src="img/slide4.jpg">
        <img class="slide" src="img/slide5.jpg">
        <div class="buttons">
            <button class="prev">&#10094;</button>
            <button class="next">&#10095;</button>
        </div>
    </div>

    <br>

    <div class="centered">
        <br>
        <h1 class="title"></h1>
        <h1 class="title">
            Reservation
            <br>
            Easy
            <br>
            Service
        </h1>
        <div class="deck">
            <p>We aim for an intuitive reservation system that is easy to recognize at a glance!!</p>
        </div>
    </div>
</main>
<footer>
    <div class="foot-info">
        <h1 class="developer">
            <br>
            문의
            <br>
            <br>
            정승민 : 010-4378-0645
            <br>
            <br>
            조다운 : 010-9903-5140
            <br>
            <br>
            진태흠 : 010-6455-9081
            <br>
        </h1>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/Home.js"></script>
</body>
</html>
