<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/member.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <title>Admin Member</title>
</head>
<body>
<nav>
  <div class="logo-name">
    <div class="logo-image">
      <!--<img src="images/logo.png" alt="">-->
    </div>

    <span class="logo_name">Admin</span>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li><a href="/adminmainpage">
        <i class="uil uil-estate"></i>
        <span class="link-name">대시보드</span>
      </a></li>
      <li><a href="/admin/facility">
        <i class="uil uil-files-landscapes"></i>
        <span class="link-name">시설현황</span>
      </a></li>
      <li><a href="/admin/user/rental">
        <i class="uil uil-chart"></i>
        <span class="link-name">사용자 통계</span>
      </a></li>
      <li><a href="/admin/userinfo">
        <i class="uil uil-thumbs-up"></i>
        <span class="link-name">회원관리</span>
      </a></li>
      <li><a href="/question/questionmain">
        <i class="uil uil-comments"></i>
        <span class="link-name">커뮤니티 관리</span>
      </a></li>
    </ul>

    <ul class="logout-mode">
      <li><a href="/logout">
        <i class="uil uil-signout"></i>
        <span class="link-name">로그아웃</span>
      </a></li>
    </ul>
  </div>
</nav>
<form th:action="@{/admin/userinfo}">
  <section class="dashboard">
    <h1 class="title">Member Manage</h1>
    <div class="empty"></div>
    <div class="status-box" th:each="user : ${users}">
      <h1 class="m_id">아이디 : <span th:text="${user.userid}"></span></h1>
      <h1 class="m_name">이름 : <span th:text="${user.username}"></span></h1>
      <h1 class="m_phone">전화번호 : <span th:text="${user.userphone}"></span></h1>
      <h1 class="m_email">이메일 : <span th:text="${user.useremail}"></span></h1>
      <h1 class="m_rank">회원등급 : <span th:text="${user.rank.ranking}"></span></h1>
      <h1 class="m_value">회원 종류 : <span th:text="${user.role.role}"></span></h1>
      <button class="delete-btn"><a th:href="@{/admin/userinfo/delete/{userid}(userid=${user.userid})}">회원탈퇴</a></button>
    </div>
  </section>
</form>
<!--<script src="script.js"></script>-->
</body>
</html>
